<style>
.alertnotice-text {
  padding: 5px 10px;
  text-align:center;
  border: 1px solid #444;
  border-radius: .3rem;
  color:#444;
  font-size:.7rem;
  margin: 1rem auto;
}
.alertnotice-text h4 {
  font-weight:900;
  margin-bottom: 1rem;
}

</style>

<div class="alertnotice-text">
<h4>DUE TO HIGH ORDER VOLUMES - PLEASE ALLOW 7-10 BUSINESS DAYS FOR ORDERS TO BE PROCESSED.</h4>
  <span>All Food Sales are Final. No Refunds or Exchanges.</span>
For specific items with longer delays, please note the processing times as indicated on individual product pages.</div>
