<div class="alertnotice-text">
<h4>DUE TO HIGH ORDER VOLUMES - PLEASE ALLOW 7-10 BUSINESS DAYS FOR ORDERS TO BE PROCESSED.</h4>
  <span>All Food Sales are Final. No Refunds or Exchanges.</span>
For specific items with longer delays, please note the processing times as indicated on individual product pages.</div>


<style>
.alertnotice-text {
  padding: 5px 10px;
  text-align:center;
  background: #cccccc;
  color:#444;
  font-size:.8rem;
}
.alertnotice-text h4 {
  font-weight:900;
}

</style>
