<style>
.template-product .food-restriction-container {
  background:transparent;
  text-align:left;
  font-size:1.3rem;
  padding:0;
}
.template-product .food-restriction-container p span {
  color: #cc0000;
  padding:0;
  background:none;
}
</style>

<div class="food-restriction-container" id="food-refund-mesg">
  <div class="food-restriction-text">
    <div><p><span>All food sales are final.</span> No exchanges or refunds.</p></div>
  </div>
</div>
