<div class="food-restriction-container" id="food-refund-mesg">
  <div class="food-restriction-text">
    <div><p><span>All food sales are final.</span> No exchanges or refunds.</p></div>
  </div>
</div>
