<div id="product-alert-box" class="product-alert-box"></div>

<style>
 .hidden {
   display: none;
 }
 .product-alert-box {
  margin: .5rem auto;
  background: #f1f1f1;
  text-align: justified;
  font-size:1.25rem;
  line-height:1.5em;
  max-width: 850px;
  background: #f1f1f1;
  padding: 1rem 2rem;
}
.product-alert-box p {
  margin:0;
}
.product-alert-box .alert-header {
  text-align: center;
  font-size:.9em;
}
.product-alert-box span.highlight {
  color:#cc0000;
}
.product-alert-box li {
  display:list-item;
  list-style-type:disc;
}

#product-alert-box blockquote {
  font-size:inherit;
  font-weight:inherit;
  text-align:inherit;
  padding:0;
  margin:0;
}

#product-alert-box a {
  border-bottom: 1px solid #444;;
}
</style>

<script>
  var momocato = { alerts: {}};
  {% for variant in product.variants %}
    {% if variant.metafields.momocato.alert %}
      momocato.alerts['{{variant.id}}'] = {{variant.metafields.momocato.alert | json}}
    {% endif %}
  {% endfor %}

 function getVariant() {
   var queryString = window.location.search;
   var urlParams = new URLSearchParams(queryString);
   var variantID = urlParams.get('variant');
   if (variantID) {
     console.log("current variant is ", variantID);
     return variantID;
   } else {
     console.log("current variant is ", meta.product.variants[0].id);
     return meta.product.variants[0].id;
   }
 }

 momocato.update = function(variantID) {
   var el = document.getElementById('product-alert-box');

   var alert = momocato.alerts[variantID];

   if (alert) {
     el.innerHTML = alert;
     el.classList.remove("hidden");
   } else {
     el.classList.add("hidden");
     el.innerHTML = ""
   }
 }

 momocato.update(meta.product.variants[0].id);
</script>
