<!-- works in conjunction with product-whats-included.js -->
{% capture 'meta_data' %}
{% for variant in product.variants %}

  {{ variant.id | json }}: {{ variant.metafields.harvestright.included | json }}
  {% unless forloop.last %},{% endunless %}

{% endfor %}
{% endcapture %}

<script>
  var metaData = { {{ meta_data }} }
</script>
<div id="product-whats-included"></div>
