{% assign auto_heading= '<h3>' %}
{% assign auto_heading_end = '</h3>' %}
{% assign desc_tabs = description_last_part | split: auto_heading %}
{% assign first_tab = true %}


  {% for tab in desc_tabs %}

      {% assign tab_size = tab | strip_html | strip | size %}
      {% unless tab_size == 0 %}
        {% assign tab_parts = tab | split: auto_heading_end %}

          {% if tab_parts.size > 1 %}
          <div class="product__accordion accordion" id="last_product_description" {{ block.shopify_attributes }}>
            <details>
              <summary>
              <div class="summary__title">
                {% render 'icon-accordion', icon: block.settings.icon %}
                <h2 class="h4 accordion__title">
                  {% if tab_parts.size > 1 %}
                    {{ tab_parts[1] }}
                  {% else %}
                  {{ tab_parts[0] }}
                  {% endif %}
                </h2>
              </div>
                {% render 'icon-caret' %}
              </summary>
              <div class="accordion__content rte">
                {{ tab_parts[0] }}
              </div>
            </details>
          </div>
          {% endif %}
      {% endunless %}

  {% endfor %}
