{% if product.vendor == 'Solo Stove'%}
   <div class="restriction-text" style="font-size:.8rem;width:auto;max-width:750px;margin:20px auto 0;">
     <p style="line-height:1rem;">Good2GoCo <span style="padding:0; background:none;color:initial;border-bottom:1px solid #444;">will match</span> Canadian competitor advertised pricing on Solo Stove products.</p>
   </div>
{% endif %}


<div id="product-alert-box" class="product-alert-box"></div>

<style>
 .hidden {
   display: none;
 }
 .product-alert-box {
  margin: .5rem auto;
  background: #f1f1f1;
  text-align: justified;
  font-size:1.25rem;
  line-height:1.5em;
  max-width: 850px;
  background: #f1f1f1;
  padding: 1rem 2rem;
}
.product-alert-box p {
  margin:0;
}
.product-alert-box .alert-header {
  text-align: center;
  font-size:.9em;
}
.product-alert-box span.highlight {
  color:#cc0000;
}
.product-alert-box li {
  display:list-item;
  list-style-type:disc;
}

#product-alert-box blockquote {
  font-size:inherit;
  font-weight:inherit;
  text-align:inherit;
  padding:0;
  margin:0;
}

#product-alert-box a {
  border-bottom: 1px solid #444;;
}
</style>

<script>
  var momocato = { alerts: {}};
  {% for variant in product.variants %}
    {% if variant.metafields.momocato.alert %}
      momocato.alerts['{{variant.id}}'] = {{variant.metafields.momocato.alert | json}}
    {% endif %}
  {% endfor %}

 momocato.update = function(variantID) {
   var el = document.getElementById('product-alert-box');

   var alert = momocato.alerts[variantID];

   if (alert) {
     el.innerHTML = alert;
     el.classList.remove("hidden");
   } else {
     el.classList.add("hidden");
     el.innerHTML = ""
   }
 }

 momocato.update({{product.selected_or_first_available_variant.id}});
</script>
