<details>
  <summary>
    <div class="summary__title">
      {% render 'icon-accordion', icon: block.settings.icon %}
      <h2 class="h4 accordion__title">
        {{ block.settings.heading | default: block.settings.page.title }}
      </h2>
    </div>
    {% render 'icon-caret' %}
  </summary>
  <div class="accordion__content rte">
    {{ block.settings.content }}
    {{ block.settings.page.content }}
  </div>
</details>
