{%- if product.metafields.customproduct.included -%}
  <div class="whats-included">
    <h4>What's Included:</h4>
    <p>{{ product.metafields.customproduct.included }}</p>
  </div>
{%- endif -%}

  <div class="whats-included">
    <h4>What's Included:</h4>
    <div id="product-whats-included">

    </div>
</div>


<script>
 var good2goco = { whatsIncluded: {}};
 {% for variant in product.variants %}
   {% if variant.metafields.customvariant.included %}
     good2goco.whatsIncluded['{{variant.id}}'] = {{ variant.metafields.customvariant.included | json }}
   {% endif %}
 {% endfor %}
</script>

<script>
 (function() {
   good2goco.update = function(variantID) {
     var el = document.getElementById('product-whats-included');
     var whatsIncludedMesg = good2goco.whatsIncluded[variantID];

     if (whatsIncludedMesg) {
       el.innerHTML = whatsIncludedMesg;
       el.classList.remove("hidden");
     } else {
       el.classList.add("hidden");
       el.innerHTML = ""
     }
   }

   good2goco.update({{product.selected_or_first_available_variant.id}});
  })();

</script>
