<div class="collection-hero">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
testing
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Collection sale banner",
  "class": "spaced-section spaced-section--full-width",
  "settings": [

  ]
}
{% endschema %}
