.product-form__input a {
  text-decoration:none;
}

.color-swatch {
  display: inline-block;
  width:45px;
  height:45px;
  overflow:hidden;
  text-indent:-999px;
  border:.1rem solid rgba(var(--color-foreground),.55);
  border-radius: .25rem;
  margin: .7rem .5rem .2rem 0;
}
#CollectionFiltersForm .color-swatch, #CollectionFiltersFormMobile .color-swatch {
  width:25px;
  height:25px;
  margin:-4px 10px 0px 0;
}

#CollectionFiltersForm .color-label, #CollectionFiltersFormMobile .color-label {
  margin-right:.5rem;
}
.color-swatch.selected {
  outline: 1px solid #999;
}

.product-form__input input[type='radio']:checked + label.color-swatch {
  outline: 1px solid #999;
}

.color-swatch.black, .color-swatch.matte-black, .color-swatch.foundry-black, .color-swatch[class*="black"] {
  background:#000;
}
.color-swatch.stainless-steel {
  background:#a0a3a7;
}
.color-swatch[class*="camo"], .color-swatch.multicam {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/multicam.png?v=1633105925')no-repeat center;
  background-size:contain;
}
.color-swatch.black-camo {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/black-camo.png?v=1633106014')no-repeat center;
  background-size:contain;
}
.color-swatch.coyote-brown, .color-swatch[class*="coyote"] {
  background:#69451A;
}
.color-swatch.light-brown, .color-swatch.tan-book-tan-cover {
  background:#C4AA8C;
}
.color-swatch.aloe {
  background:#D5D141;
}
.color-swatch.brown {
  background:#5D4132;
}
.color-swatch.navy {
  background:#141B49;
}
.color-swatch.coal, .color-swatch.charcoal {
  background:#65666B;
}
.color-swatch.grey {
  background:#65666B;
}
.color-swatch.green {
  background:#bbc26d;
}
.color-swatch.ranger-green {
  background:#857A5F;
}
.color-swatch.purple {
  background:#ab6dc2;
}
.color-swatch.teal, .color-swatch.ocean-teal {
  background:#37C3C5;
}
.color-swatch.khaki, .color-swatch.tan, .color-swatch.desert-tan {
  background:#E7E3D3;
}
.color-swatch.dry-earth  {
  background:#928a7a;
}
.color-swatch.lagoon {
  background:#468C93;
}
.color-swatch.od-green, .color-swatch.foliage-green  {
  background:#585E4F;
}
.color-swatch.hammertone-green {
  background:#61776D;
}
.color-swatch.blue  {
  background:#42b3f5;
}
.color-swatch.blaze-orange, .color-swatch.tangerine  {
  background:#F2762F;
}
.color-swatch.bright-green {
  background:#b9e19b;
}
.color-swatch.kodiak-brown {
  background:#524233;
}
.color-swatch.orange  {
  background:#f5ad42;
}
.color-swatch.nightfall  {
  background:#585e73;
}
.color-swatch[class*="seafoam"]  {
  background:#91DED3;
}
.color-swatch.tan-orange {
  background:#DDD1AA;
}
.color-swatch.recon  {
  background:#D2C899;
}
.color-swatch.wine  {
  background:#542a32;
}
.color-swatch.military-green  {
  background:#494b44;
}
.color-swatch.silver {
  background:#ccc;
}
.color-swatch[class*="yellow"]  {
  background:#ffde4a;
}
.color-swatch[class*="asphalt"], .color-swatch[class*="ashpalt"]  {
  background:#5a5f63;
}
.color-swatch[class*="red"]  {
  background:#c41616;
}
.color-swatch[class*="midnight"]  {
  background:#2B2B42;
}
.color-swatch[class*="blue-"] {
  background:#2954C5;
}
.color-swatch[class*="grey-"] {
  background:#666;
}
.color-swatch[class*="wolf"] {
  background:#DBD7D1;
}
.color-swatch[class*="pink-"] {
  background:#D6AAC9;
}
.color-swatch[class*="green-"], .color-swatch.moss-green {
  background:#999F76;
}
.color-swatch[class*="purple-"] {
  background:#B28BC8;
}
.color-swatch[class*="light-green-"] {
  background:#D3E6B2;
}
.color-swatch[class*="light-teal-"] {
  background:#8FDFE5;
}
.color-swatch[class*="dark-teal-"] {
  background:#50979B;
}
.color-swatch[class*="light-blue-"] {
  background:#D5EFF0;
}
.color-swatch[class*="clear-"], .color-swatch[class*="white"], .color-swatch.polar  {
  background:#fff;
}
.color-swatch[class*="green-fish-"]  {
  background:#95A556;
}
.color-swatch[class*="pacific-blue-"] {
  background:#314262;
}
.color-swatch.green-book-tan-cover {
  background: linear-gradient(to bottom left, #457c31 50%, #93814c 50%);
}
.color-swatch.tan-book-multicam-cover {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/tan-multicam.png?v=1633105925')no-repeat center;
  background-size:contain;
}
.color-swatch.realtree-xtra {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/realtree-extra.png?v=1633106232')no-repeat center;
  background-size:contain;
}
.color-swatch.mirage  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/mirage.png?v=1633105894')no-repeat center;
  background-size:contain;
}
.color-swatch.mountain  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/mountain.png?v=1633105894')no-repeat center;
  background-size:contain;
}
.color-swatch.skye  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/skye.png?v=1633105894')no-repeat center;
  background-size:contain;
}
.color-swatch.unicam-ii  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/unicam-ii.png?v=1633105894')no-repeat center;
  background-size:contain;
}
.color-swatch.doppelganger-winter  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/doppelganger-winter.png?v=1633105894')no-repeat center;
  background-size:contain;
}
.color-swatch.snow-digital  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/snow-digital.png?v=1633105894')no-repeat center;
  background-size:contain;
}
.color-swatch.mountain-orange  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/mountain-orange.png?v=1633105894')no-repeat center;
  background-size:contain;
}
.color-swatch.unicam-ii-orange  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/unicam-ii-orange.png?v=1633105894')no-repeat center;
  background-size:contain;
}
.color-swatch.coyote-winter  {
  background:url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/coyote-winter.png?v=1633105894')no-repeat center;
  background-size:contain;
}

.color-swatch.hawaii-happy-gray-green-polar, .color-swatch.ansi-rx-matte-black-hd-gray-green-polarized, .color-swatch.ansi-rx-matte-black-hd-gray-green, .color-swatch.ansi-rx-black-hd-gray-green-polarized, .color-swatch.black-happy-gray-green-polar, .color-swatch.black-hd-gray-green-polarized, .color-swatch.matte-black-hd-gray-green-polarized, .color-swatch.black-hd-gray-green-polar, .color-swatch.black-ansi-rx-happy-gray-green-polar, .color-swatch.soft-matte-black-happy-gray-green-polar, .color-swatch.matte-black-ansi-rx-happy-gray-green-polar {
  background: linear-gradient(to bottom left, #5a6e5a 50%, #000 50%);
}

.color-swatch.ansi-rx-black-hd-gray-green, .color-swatch.matte-black-happy-gray-green, .color-swatch.sosi-ansi-rx-matte-black-happy-gray-green, .color-swatch.sosi-ansi-rx-black-happy-gray-green, .color-swatch.black-happy-gray-green, .color-swatch.black-ansi-rx-happy-gray-green, .color-swatch.matte-black-ansi-rx-happy-gray-green, .color-swatch.matte-black-hd-gray-green, .color-swatch.soft-matte-black-happy-gray-green, .color-swatch.black-hd-gray-green {
  background: linear-gradient(to bottom left, #616661 50%, #000 50%);
}

.color-swatch.matte-black-happy-bronze-polar-with-blue-spectra-mirror, .color-swatch.soft-matte-black-happy-dark-gray-green-polar-with-dark-blue-spectra-mirror {
  background: linear-gradient(to bottom left, #2954c5 50%, #000 50%);
}

.color-swatch.matte-camo-happy-gray-green-polar {
  background: linear-gradient(to bottom left, #5a6e5a 50%, #4a433a 50%);
}
