.shop-can {
  display: inline-block;
  vertical-align: middle;
  padding-left: 35px;
  background: url('{{'can-flag.jpg' | asset_url }}')no-repeat left;
  background-size: 30px auto;
  margin-left: 20px;
}
.shop-usd {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding-left: 35px;
  background: url('{{'usa-flag.jpg' | asset_url }}')no-repeat left;
  background-size: 30px auto;
  margin-left: 20px;
}
#shopify-section-announcement-bar {
  position:relative;
}
.country-switcher {
  position: absolute;
  top:1rem;
  right:4rem;
  margin: auto 20px auto 0;
  vertical-align: middle;
  font-size: 13px;
  letter-spacing: .1em;
  font-weight: bold;
  min-width: 70px;
  cursor: pointer;
  color:#fff;
}
.country-switcher .shop-usd {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 25px;
  padding-left:25px;
  text-indent: -999999px;
  background: url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/usa-flag.jpg?v=1633039910') no-repeat center;
  background-size: 100%;
  margin-left: 0px;
}
.country-switcher .shop-can {
  display: inline-block;
  vertical-align: middle;
  padding-left: 35px;
  height: 20px;
  background: url('//cdn.shopify.com/s/files/1/0480/8297/6934/files/can-flag.jpg?v=1633039899')no-repeat left;
  background-size: 30px auto;
  margin-left: 0px;
}
.country-switcher .alternate-country {
  display: none;
  position: absolute;
  background: #eee;
  padding: 10px 5px;
  left: -5px;
}
.country-switcher:hover .alternate-country {
  display: block;
  color:#444;
}
@media (max-width: 751px) {
  .country-switcher {
    display: none;
  }
}
